<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="BusyBox v1.37.0"
        android:icon="@mipmap/ic_launcher">
        <meta-data
            android:name="busybox.config"
            android:value="package.config" />
    </application>
</manifest>
